# =========================================================================
# MAVEN (Compilación de Java)
# =========================================================================
target/
*.jar
*.war
*.ear
*.class

# =========================================================================
# IDEs (Configuraciones locales de editores)
# =========================================================================
# VS Code
.vscode/
*.code-workspace

# IntelliJ / Eclipse (Por si tus compañeros los usan)
.idea/
*.iws
*.iml
*.ipr
.metadata/
.classpath
.project
.settings/

# =========================================================================
# SISTEMA OPERATIVO (Especial para tu Mac M1)
# =========================================================================
.DS_Store
Thumbs.db

# =========================================================================
# CONFIGURACIONES SENSIBLES (Futuras credenciales de Neon)
# =========================================================================
*.env
*.local